

          </div>
          <script>
            $('#toggle').click(function(){
               $('.ui.sidebar').sidebar('toggle');
            });

            $('#toggle')
            .removeClass('disabled')
            ;
         </script>
     </body>
</html>
